<header class="site-header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a href="/">{{ site.name }}</a>
      </div>
      <nav class="main-nav">
        <ul>
          <li><a href="/reviews/water/">Water</a></li>
          <li><a href="/reviews/outdoor/">Outdoor</a></li>
          <li><a href="/reviews/kitchen/">Kitchen</a></li>
          <li><a href="/pages/about/">About</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
