<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} | {% endif %}{{ site.name }}</title>
  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <!-- Open Graph -->
  <meta property="og:title" content="{{ title or site.name }}">
  <meta property="og:description" content="{{ description or site.description }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="website">


  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/main.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;700;900&display=swap" rel="stylesheet">
<meta name='impact-site-verification' value='bb8fb0e2-624c-4397-a6d5-aca09563dd85'>
</head>
<body>

  {% include "partials/header.njk" %}

  <main class="site-main">
    {{ content | safe }}
  </main>

  {% include "partials/footer.njk" %}

  <script src="/assets/js/main.js"></script>

</body>
</html>
